.header
  - if current_user
    .header__profile
      =image_tag  "man.jpg", class: "header__profile__user-image"
      .header__profile__user-name
        = current_user.username
.main
  .main__upper
    .main__upper__actions
      .main__upper__actions__category
        .input-group
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              カテゴリーを選択してください
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                カテゴリー1
              %li
                カテゴリー2
              %li
                カテゴリー3
              %li
                カテゴリー4
        -# カテゴリー追加のボタンも後々作る予定
      .main__upper__actions__decide
        今日のコーデを決める！
      = link_to "コーデを追加", new_outfit_path, class: "main__upper__actions__add"
  .main__lower
    .main__lower__title
      コーデ一覧
    .main__lower__outfit-list
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
    .main__lower__outfit-list
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ