.header
  .header__profile
    .user-image
    .user-name
.main
  .main__upper
    .main__upper__actions
      .main__upper__actions__category
        カテゴリー
      .main__upper__actions__decide
        今日のコーデを決める！
      .main__upper__actions__add
        カテゴリーまたはコーデを追加
  .main__lower
    .main__lower__title
    .main__lower__outfit-list
      .main__lower__outfit-list__outfit
        .main__lower__outfit-list__outfit__image
        .main__lower__outfit-list__outfit__category-name
          テスト用
        .main__lower__outfit-list__outfit__name
          テストさん
      .main__lower__outfit-list__outfit
        .main__lower__outfit-list__outfit__image
        .main__lower__outfit-list__outfit__category-name
          テスト用
        .main__lower__outfit-list__outfit__name
          テストさん
      .main__lower__outfit-list__outfit
        .main__lower__outfit-list__outfit__image
        .main__lower__outfit-list__outfit__category-name
          テスト用
        .main__lower__outfit-list__outfit__name
          テストさん
      .main__lower__outfit-list__outfit
        .main__lower__outfit-list__outfit__image
        .main__lower__outfit-list__outfit__category-name
          テスト用
        .main__lower__outfit-list__outfit__name
          テストさん
.footer
  .footer__content