.main__lower
    .main__lower__title
      コーデの詳細
    .main__lower__outfit-list
      .main__lower__outfit-list__outfit
        =image_tag  "woman.jpg", class: "main__lower__outfit-list__outfit__image"
        .main__lower__outfit-list__outfit__category-name
          カテゴリー1
        .main__lower__outfit-list__outfit__name
          テストコーデ
      