/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "outfits";
@import "users";

body{
  background-image: url("/images/test-background.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
}

a{
  text-decoration: none;
  color: inherit;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

.notice{
  height: 20px;
  margin: 0;
  background-color: yellowgreen;
  color: red;
}

header{
  background-color: yellowgreen;
  width: 100vw;
  height: 40px;
}
.alert{
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: yellowgreen;
  color: red;
}

.signout-btn{
  height: 20px;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  background-color: yellowgreen;
  position: absolute;
  right: 20px;
}
// ログアウトボタンはのちに編集予定
// 編集ボタンを横に配置する


footer{
  height: 50px;
  width: 100vw;
  background-color: green;
  position: absolute;
  bottom: 0;
  .content{
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
  }
}