// Place all the styles related to the outfits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  width: 100vw;
  border-bottom: 1px solid;
  background-color: #3F7942;
  &__profile{
    height: 180px;
    width: 150px;
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    &__user-image{
      height: 100px;
      width: 100px;
      border-radius: 50px;
    }
    &__user-name{
      font-weight: bold;
      font-size: 30px;
    }
  }
}
.main{
  width: 100vw;
  &__upper{
    background-color: whitesmoke;
    &__title{
      font-size: 30px;
      padding-left: 50px;
      padding-bottom: 20px;
      padding-top: 32px;
    }
    &__cover{
      height: 700px;
      width: 700px;
      padding-left: 145px;
      margin: 0 auto;
      #flexbox{
        display: flex;
      }
      #outfit-image{
        height: 400px;
        width: 400px;
      }
      #add-message{
        padding-left: 180px;
        padding-right: 5px;
        padding-top: 18px;    
      }
      #add-outfit{
        .fa{
          height: 50px;
          width: 50px;
        }
      }
      #outfit-name{
        margin-right: 90px;
      }
      #outfit_name{
        width: 250px;
      }
      #outfit-tag{
        margin-right: 80px;
      }
      #outfit_tags_attributes_0_tagname{
        width: 45%;
      }
      #add-btn{
        margin-left: 320px;
      }
    }
    &__actions{
      height: 130px;
      width: 100%;
      padding: 35px 100px;
      display: flex;
      position: relative;
      .button-2 {
        display: inline-block;
        padding: 1rem;
        font-size: 30px;
        color: #2ecf2e;
        text-decoration: none;
        text-align: center;
        user-select: none;
        border: 1px #2ecf2e solid;
        border-radius: 20px;
        transition: 0.4s ease;
        position: absolute;
        top: 50%;
        left: 37%;
        right: 37%;
        transform: translateY(-50%) 
      }
      .button-2:hover {
        color: #fff;
        background: #2ecf2e;
      }
      &__category{
        position: absolute;
        right: 15%;
        top: 15%;
        .form-group{
          width: 200px;
          .tag-add-group{
            display: flex;
            .add-tag-form{
              width: 140px;
            }
            .tag-add{
              width: 60px;
            }
          }
        }
      }
    }
  }
  &__lower{
    width: 100%;
    background-color: white;
    &__title{
      font-size: 30px;
      padding-bottom: 20px;
      padding-top: 32px;
      position: relative;
      .add-path{
        color: #2ecf2e;
        font-size: 16px;
        border: 1px solid;
        border-radius: 20px;
        padding: 8px;
        position: absolute;
        right: 40px;
        display: inline-block;
        padding: 0.6em 1.6em;
        text-decoration: none;
        user-select: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        transition: 0.4s ease;
      }
      .add-path:hover{
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
        color:#2ecf2e;
      }
    }
    #outfit-list{
      margin: 0 auto;
      width: 98%;
      #a-outfit{
        height: 450px;
        width: 345px;
        padding: 20px;
        margin: 0px;
        display: inline-block;
        border: 1px solid;
      #outfit-image{
        height: 370px;
        width: 300px;
      }
      #outfit-tag{
        margin-top: 5px;
      }
      #outfit-name{
        margin-top: 5px;
      }
      }
      #a-outfit:hover{
        opacity: 0.6;
      }
    }
    &__outfit-show{
      width: 100%;
      padding-left: 360px;
      #show-image{
        margin: 0 auto;
      }
      #show-tag{
        margin-top: 15px;
        display: block;
        #show-tag-content{
          padding-right: 20px;
          padding-left: 110px;
          display: inline;
        }
      }
      #show-name{
        margin-top: 15px;
        display: block;
        #show-name-content{
          padding-right: 20px;
          padding-left: 110px;
          display: inline;
        }
      }
      #btns{
        margin-left: 225px;
        margin-top: 20px;
      }
    }
  }
}
