// Place all the styles related to the outfits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height: 180px;
  width: 100vw;
  border-bottom: 1px solid;
  background-color: yellowgreen;
  &__profile{
    height: 180px;
    width: 150px;
    padding-top: 30px;
    padding-left: 25px;
    margin: 0 auto;
    &__user-image{
      height: 100px;
      width: 100px;
      border-radius: 50px;
      margin-bottom: 20px;
    }
    &__user-name{
      font-weight: bold;
      padding-left: 24px;
    }
  }
}
.main{
  width: 100vw;
  &__upper{
    background-color: whitesmoke;
    &__actions{
      height: 130px;
      width: 100%;
      padding: 35px 100px;
      display: flex;
      justify-content: space-between;
      &__category{
        border: 1px solid;
        height: 22px;
        margin-left: 60px;
      }
      &__decide{
        border: 1px solid;
        font-size: 30px;
        margin-left: 40px;
      }
      &__add{
        border: 1px solid;
        height: 22px;
      }
    }
  }
  &__lower{
    width: 100%;
    &__title{
      font-size: 30px;
      padding-left: 50px;
      padding-bottom: 20px;
    }
    &__outfit-list{
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      margin-bottom: 20px;
      width: 80%;
      &__outfit{
        height: 220px;
        width: 150px;
        padding: 15px;
        display: inline-block;
        border: 1px solid;
        &__image{
          height: 150px;
          width: 120px;
          
        }
      }
    }
  }
}
.footer{
  height: 50px;
  width: 100vw;
  background-color: green;
  &__content{
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
  }
}